body{
	margin: 0;
	padding: 0;
	background: url(https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/56465_172895159392187_552715_o.jpg);
	background-repeat: no-repeat;
	-moz-background-size: cover;
	background-size: cover;
}